<div class="footer-container">
    <div class="footer-logo">
        <img src="https://imagedelivery.net/9rZ-z0BGWBJ3AVm1zCQ9Fw/72831f67-478a-4559-eada-988c2c572600/public" alt="Logo" />
    </div>
    <p>Privacy Policy | Terms of Service</p>
    <p>
        Developed and Hosted by <a href="https://www.dbtweb.com" target="_blank" rel="noopener noreferrer"><img src="https://imagedelivery.net/9rZ-z0BGWBJ3AVm1zCQ9Fw/d17b4fe0-a7e7-4976-4fcd-1de9d9364a00/public" alt="Logo" class="dbtweblogo" /></a>
    </p>
    <p>© 2025 bodybyher.club All rights reserved.</p>
</div>